@font-face {
    font-family: 'Poppins';
    src: local('/fonts/Poppins/Poppins-Regular.ttf'),format('ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: local('/fonts/Montserrat/Montserrat-Regular.ttf'),format('ttf');
}
